<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        {{#link-to "index" class="navbar-brand"}}{{appName}}{{/link-to}}
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>
      <div id="navbar-collapse" class="collapse navbar-collapse">
        {{yield}}
        {{bf-nav}}
      </div>
    </div>
  </nav>
</header>
